.recover-container {
  display: flex;
  height: 99vh;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

/* Lado esquerdo (imagem/logo) */
.recover-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #646cff, #4b52e5);
}

.recover-left img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Lado direito (formulário) */
.recover-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.recover-right form {
  width: 350px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recover-right h1 {
  font-size: 1.8rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.recover-right p {
  font-size: 0.95rem;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.recover-container input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #e0e0e0; /* cinza clarinho */
  color: #333; /* texto escuro pra contraste */
  font-size: 14px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.recover-container input::placeholder {
  color: #666;
}

.recover-container input:focus {
  background-color: #d6d6d6; /* fica um pouco mais escuro ao focar */
  box-shadow: 0 0 0 2px rgba(111, 119, 255, 0.4); /* azulzinho suave */
}


.recover-right button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #646cff;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.recover-right button:hover {
  background: #4b52e5;
}

.back-link {
  margin-top: 15px;
  color: #646cff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.back-link:hover {
  color: #4b52e5;
}

/* Responsivo */
@media (max-width: 768px) {
  .recover-container {
    flex-direction: column;
  }

  .recover-left {
    flex: none;
    height: 200px;
  }

  .recover-right form {
    width: 90%;
    margin-top: 20px;
  }
}