/* CONTAINER PRINCIPAL */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LADO ESQUERDO */
.login-left {
  flex: 1;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-left img {
  width: 80%;
  max-width: 400px;
  height: auto;
}

/* LADO DIREITO */
.login-right {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #fff;
}

.login-form {
  width: 100%;
  max-width: 420px;
  text-align: center;
}

/* CAMPOS */
.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 15px;
}

/* SENHA */
.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-btn {
  position: absolute;
  right: 12px;
  top: 37%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

/* LINKS */
.forgot {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  display: block;
  margin-bottom: 20px;
}

/* BOTÃO LOGIN */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #1f1f22;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

/* TEXTO FINAL */
.signup-link {
  font-size: 14px;
}

/* ------ RESPONSIVIDADE ------ */

/* Telas menores (tablets) */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    height: 35vh;
  }

  .login-right {
    height: 65vh;
  }

  .login-left img {
    width: 50%;
  }
}

/* Celulares */
@media (max-width: 600px) {
  .login-left {
    height: 30vh;
  }

  .login-left img {
    width: 60%;
  }

  .login-right {
    padding: 1rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  .input-field {
    font-size: 14px;
  }

  .login-btn {
    padding: 10px;
  }
}